.portfolio {
  // width: 1440px;
  padding-top: 130px;
  padding-bottom: 130px;

}

.portfolio-inner {
  @include inner
}

.portfolio-title {
  @include section-title;
  padding-bottom: 100px;
}

.portfolio-photo-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  // width: 100%;

  @media (max-width: $tablet-max) {
    // flex-wrap: wrap;
    justify-content: center;
    // padding-bottom: 80px;



  }

  @media (max-width: $mobile-max) {
    display: block;
    padding-bottom: 60px;


  }
}

.portfolio-figure {
  position: relative;

  @media (max-width: $tablet-max) {
    width: 50%;
  }

  @media (max-width: $mobile-max) {
    min-width: 100%;
  }
  }

  .photo-pic {

    @media (max-width: $tablet-max) {
    min-width:100%;
    padding-left: 10px;
    padding-right: 10px;
    }

  }

.portfolio-photo-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: $color-light;
  background-color: rgba(0, 0, 0, 0.4);
}

.portfolio-btn {
  @include button-design;
  display: inline-block;
  text-align: center;

}

