.product {
    margin-top: 75px;
    text-align: center;
    color: $color-light;
    font-weight: 600;
    font-size: 72px;
    line-height: 98px;
    background-image: url("../images/product-photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .product-fade {
    padding-bottom: 215px;
    padding-top: 200px;
    background-color:rgba(51, 51, 51, 0.4);

  }

.product-inner {
  @include inner;
}

.product-btn {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 10px;
}

.product-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    padding-bottom: 100px;
}



